body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.border {
    border: 2px dashed white;
    border-radius: 20px;
}